@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
}
html{
  width: 100%;
  max-width: 100%;}

body{
  background-color: rgba(16, 19, 22, 10%);
  font-family: "Montserrat", sans-serif;
}
li,a{
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #101316;
  text-decoration: none;
  
}
header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -40px;
  flex-wrap: wrap;
  padding: 30px 10%;
  width: fit-content;
}
.all{
  padding-left: 20px;
  appearance: none;
  background: url('Vector (Stroke)1.svg') no-repeat right;
  background-color: transparent;
  background-position: 55px;;
  height: 50px;
  width: 93px;
  margin-left: 25px;
  border-radius: 0px ;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none ;
  border-color: rgba(165, 169, 172, 20%);
  cursor: pointer;
  outline: none;
}
.search-bar{
  display: flex;
  align-items: center;
  width: 347px;
  height: 50px;
  border:1px solid rgba(165, 169, 172, 20%);;
}
.search-bar img{
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin-left: 15px;
}
.search-bar input[type="search"]{
background: transparent;
align-items:flex;
outline: none;
border: none;
font-size: 16px;
font-family:'Montserrat' ;
margin-left: 10px;
opacity: 20%;
}
.search-button button{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
nav{
  margin-left: 15%;
}
.nav__links{
  list-style: none;
  
}
.nav__links li{
  display: inline-block;
  align-items: center;
  
 padding: 0 20px 0 0;
}

.nav__links li:nth-child(1){
  
  padding: 0px 20px;
 }
.nav__links li a{
transition: all 0.3s ease 0s;
 }

 .nav__links li a:hover{
  color: #0089a9;
   }
   button {
    height: 50px;
     width: 93px;
    color: rgb(254, 251, 251);
    padding: 9px;
    background-color: #1C4E8E;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
   }
   button:hover{
    color: #ffffff;
   }
   .cart-icon {
    position: relative;
    display:grid;
    cursor: pointer;
  }
  
  .cart-icon img {
    font-size: 24px; 
    color: #000; 
  }
  
  .cart-count {
    height: 16px;
    width: 16px;
    position: absolute;
    padding: 0px 5px 5px 5px;
    top: -15%; 
    right: -20%; 
    background-color:#1C4E8E; 
    color: white; 
    border-radius: 50%; 
    font-family:'Montserrat';
    font-size: 12px;
    font-weight: bold;
  }
  .row2{
    margin-top: 30px;
    margin-left:-25px ;
    display: flex;
    flex: 1 0 100%;
  }
 .vertical-menu{
  display: flex;
  align-items: center;
  width: 317px;
  height: 50px;
  background-color: rgba(165, 169, 172, 5%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
 }
 .vertical-menu a{
  background-color:  rgba(165, 169, 172, 0%);
  margin-left:20px ;
 }
img.arrow{
  background-color:  rgba(165, 169, 172, 0%);
  margin-left:auto ;

 }
 img.menu{
  background-color:  rgba(165, 169, 172, 0%);
  margin-left:15px ;
 }
 div li{
  margin-left: 0px;
 }

.menu img{
  margin-left: 5px;
}
.breadcrumb{
  margin-top: 1%;
  margin-left: 8%;
  cursor: pointer;
}
.upp{
display: flex;
margin-left: 1%;
margin-top: 3%;
}
.leftup ul{
  width:650px ;
}
.leftup li {
  display: flex;
  
  margin-top: 1%;
  margin-left: 20%;
  list-style-type: none;
 
}
.big{
  position: relative;
  width:650px ;
  height: 500px;
  background-color:  rgba(165, 169, 172, 10%);
  margin-bottom: 15px;
}
.big img{
  position: absolute;
top: 8%;
left: 17%;
}
.small{
  position: relative;
  display: flex;
  width:110px ;
  height: 110px;
  background-color:  rgba(165, 169, 172, 10%);
  justify-content: space-evenly;
  padding-left: 5px;
  margin-right: 15px;
  margin-left: -10px;
  
}
#sm{
  margin-left: 0px;
}
.small img{
  position: absolute;
top: 11%;
left: 20%;

}
.rightup h1{
  font-size: 30px;
  font-weight: bold;
}
.rightup ul{
  
  width: 700px;
 
}
.rightup li {
  display: flex;
  margin-top: 1%;
  list-style-type: none;
  padding-left: 10%;
}
.ins{
  margin-left:auto;
  margin-top: 0%;
}
#re{
  margin-left: 6px;
  color: #A5A9AC;
  font-size: 16px;
  margin-top: 4px;
}
#price{

  margin-top: 15px;
}
#des{
font-size: 18px;
}
#color{
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
#gray{
width: 36px;
height: 36px;
background-color:#BEBEC6 ;
margin-top: 10px;
border-radius: 4px;
margin-right: 10px;
cursor: pointer;
}
#blue{
  width: 36px;
  height: 36px;
  background-color: #304FBE;
  margin-top: 10px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}
#black{
  width: 36px;
  height: 36px;
  background-color: #101316;
  margin-top: 10px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}
#purple{
  width: 36px;
  height: 36px;
  background-color: #5D30BE;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}
#minus{
  text-align: center;
  width:40px ;
  height: 56px;
  background-color: transparent;
  border:1px solid rgba(165, 169, 172, 10%); 
font-size: 20px;
color: black;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
}
#quanity{
  text-align: center;
  width:40px ;
  height: 56px;border:1px solid rgba(165, 169, 172, 10%); 
  background-color:transparent; 
font-size: 20px;
color: black;
border-left: none;
border-right: none;
}
#quanity input:focus{
  outline: none;
  border-left: none;
}
#plus{
  text-align: center;
  width:40px ;
  height: 56px;
  background-color: transparent;
  border:1px solid rgba(165, 169, 172, 10%); 
font-size: 20px;
color: black;
border-bottom-left-radius: 0px;
border-top-left-radius: 0px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}
.cart{
  margin-left: 30px;
  width: 100%;
  height: 56px;
}
.fav{
  background-color:transparent; 
  position: relative;
  margin-left: 3%;

}
.fav img{
  position: absolute;
  top: -2%;
  left: 15%;
}
.vizh{
  margin-bottom: 5%;
}
#share{
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 13px;
}
.med{
  margin-right: 10px;
}
.info{
  margin-top:2% ;
  margin-bottom:1% ;
  margin-left: 8%;
  border: 1px solid rgba(165, 169, 172, 20%);
  border-right:none ;
  border-left: none;
  border-top: none;
  width:1290px ;
}
.info ul{
display: flex;
list-style-type: none;
font-size: 20px;
padding-bottom: 10px;
}
.info a{
  font-size: 20px;
  
  padding-bottom: 9px;
  cursor: pointer;
  
}
#desc{
  margin-right: 2%;
}
#desc a{
  border: 3px solid #1C4E8E;
  color: #1C4E8E;
  font-weight:bold ;
  border-right:none ;
  border-left: none;
  border-top: none;
}
#add{
  margin-right: 2%;
}
#details{
  margin-left: 8%;
  margin-top: 1%;
  width: 1290px;
  font-size: 18px;
}
#rel{
  margin-top: 5%;
  margin-left: 8%;
  font-size: 40px;
  font-weight: 900;
  text-shadow: 1.5px 0 black;
  letter-spacing: 2px;
}
.related {
  margin-top: 3%;
  display: flex;
  list-style-type: none;
  margin-left: 8%;
}
.photo{
  background-color: rgba(165, 169, 172, 5%);
  

}
.related ul{
  list-style-type: none;
  margin-right: 5%;
}
.related li{
  margin-top: 5%;
}
#na {
font-weight: bold;
}
footer{
  margin-top: 5%;
  background-color: #1C4E8E;
  width: 1440px;
  height: 340px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  position: relative;
  padding-top: 30px;
  padding-left: 30px;
  bottom: 0;
}
.col1{
  background-color: transparent;
  border: 1 solid rgba(165, 169, 172, 10%);;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col1 li{
  display: flex;
  justify-content: left;
  list-style-type: none;
  background-color: #1C4E8E;
  color: white;
  padding-bottom: 25px;
}
.col1 img{
  padding-right: 5px;
  background-color:#1C4E8E;
}
.logofooter {
  padding-bottom: 15px;
  background-color: white;
}
.col2{
  background-color: #1C4E8E;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col2 li {
  display: flex;
  justify-content: left;
  padding-bottom: 25px;
  list-style-type: none;
  background-color: #1C4E8E;
  color: white;
}
.col2 b {
  list-style-type: none;
  background-color: #1C4E8E;
  color: white;
}
.col3{
  background-color: #1C4E8E;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col3 li {
  display: flex;
  justify-content: left;
  padding-bottom: 25px;
  list-style-type: none;
  background-color: #1C4E8E;
  color: white;
}
.col3 b {
  list-style-type: none;
  background-color: #1C4E8E;
  color: white;
}
.col2 a {
  list-style-type: none;
  background-color: #1C4E8E;
  color: white;
}
.col3 a {
  list-style-type: none;
  background-color: #1C4E8E;
  color: white;
}
.col4{
  background-color: #1C4E8E;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col4 li {
  display: flex;
  justify-content: left;
  padding-bottom: 25px;
  list-style-type: none;
  background-color: #1C4E8E;
  color: white;
}
.col4 b {
  list-style-type: none;
  background-color: #1C4E8E;
  color: white;
}
.col4 img{
  background-color: rgba(165, 169, 172, 0%);;
  padding-right: 10px;
}
.emailfield{
  height: 56px;
  width: 322px;
  display: flex;
  padding-left: 10px;
  background-color: rgba(165, 169, 172, 10%);
  border-radius: 10px;
  
  
}
.rightar{
  background-color: rgba(165, 169, 172, 10%);
  justify-content: flex-end;
  margin-left: auto;
}
.emailfield p{
  padding-top: 20px;
  justify-content: center;
  background-color:transparent;
  color: white;
}
.line{
  width: 1180px;
    height: 1px;
    background-color: rgba(165, 169, 172, 20%);
    position: relative;
    bottom: 0;
    margin-left:3%;
    margin-bottom: 10px;
  
}
.footer{
    background-color: #1C4E8E;
    width: 1440px;
    height: 50px;
    display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
    bottom: 0;
    position: relative;
  }
  .coll1{
    background-color: #1C4E8E;
    margin-left: 20px;
  }
  .coll1 li{
    list-style-type: none;
    margin-left: 5px;
    display: inline-block;
    flex-direction: row;
    background-color: #1C4E8E;
  }
  .coll1 a{
    background-color: #1C4E8E;
  }
  .coll1 img{
    border-radius: 2.4px;
  }
  .coll2{
    background-color: #1C4E8E;
  }
  .coll2 li{
    background-color: #1C4E8E;
    color: #fff;
    padding-right: 110px;
  }
  
  .coll3{
    background-color: #1C4E8E;
  }
  
  .coll3 li{
    list-style-type: none;
    padding-left: 5px;
    display: inline-block;
    flex-direction: row;
    background-color: #1C4E8E;
  }
  .coll3 a{
    background-color: #1C4E8E;
    
  }
  .coll3 img{
    background-color: #1C4E8E;
  }
  .Customer{
    margin-left: 8%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1%;
  }
  .crev{
    margin-left: 8%;
    margin-bottom: 1%;
    position: relative;
    border: 1px solid rgba(165, 169, 172, 20%);
    border-right:none ;
    border-left: none;
    border-top: none;
    width:1290px ;
    height: 210px;
  }
  .namer{
    position: absolute;
    top:0%;
    left: 5%;
  }
  .stars{
    position: absolute;
    top:14%;
    left: 5%;
  }
  .titler{
    position: absolute;
    top:28%;
    left: 0%;
    font-weight: bold;
    font-size: 18px;
  }
  .bodyr{
    position: absolute;
    top:42%;
    left: 0%;
    font-size: 18px;
  }
  .prof{
  
    top:2%;
    left: 0%;;
  }
  .r1{
    margin-right: 5px;
    top:80%;
    left: 0%;
    color:#A5A9AC ;
  }
  .r2{
    margin-right: 5px;
    top:80%;
    left: 8%;
    
  }
  .r3{
    margin-right: 5px;
    color:#A5A9AC ;
  }
  .r4{
    margin-right: 5px;
    
  }
  .revs{
    display: flex;
    position: absolute;
    top: 80%;
    left: 0%;
    margin-right: 2px;
  }
  
  .addrev{
    margin-left: 8%;
    font-size: 20px;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 2%;
  }
  .writerev{
    position: relative;
    margin-left: 8%;
  }
  .starss {
    display: flex;
    position: relative;
    list-style-type: none;
    padding-right: 20px;
    border: 1px solid rgba(165, 169, 172, 20%);
    border-bottom:none ;
    border-left: none;
    border-top: none;
    margin-top:.7% ;
  
  }
  .starss li{
    border: 1px solid rgba(165, 169, 172, 20%);
    border-bottom:none ;
    border-left: none;
    border-top: none;
    padding-right: 10px;
    padding-left: 10px;
  }
  #final{
    border-right: none;
  }
  .texts{
    margin-top: 30px;
    margin-bottom: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  .texts li{
    padding-bottom: 5px;
  }
  #nam{
    width:1290px ;
    height: 56px;
    outline: none;
    border: 1px solid rgba(165, 169, 172, 20%) ;
    border-radius: 10px;
    padding-left: 20px;
    color: rgba(165, 169, 172, 20%);
  }
  #nam:focus{
    border: 2px solid #1C4E8E ;
    outline: none;
    color: #000;
  }
  .pas:focus{
    border: 2px solid #1C4E8E ;
    outline: none;
    color: #000;
  }
  .pas{
    width:1290px ;
    height: 104px;
    outline: none;
    border: 1px solid rgba(165, 169, 172, 20%) ;
    border-radius: 10px;
    padding-left: 20px;
    color: rgba(165, 169, 172, 20%);
    text-align: start;
    padding-bottom: 60px;
  }
  .loginn{
    margin-top: 20px;
    width: 139px; ;
  }
  table{
    margin-left: 8%;
    font-size: 18px;
    
  }
  td{
    margin-right: 10%;
    padding-bottom: 10px;
    padding-right: 30px;
  }
  .spec {
    font-weight: bold;
    margin-right: 10%;
    text-shadow: 1px 0 black;
    letter-spacing: 1px;
  }
  #addd{
    display: none;
  }
  #rew{
    display: none;
  }
  .mini-cart{
    width: 20%;
    height:960px;
    margin: auto;
    margin-top: -88.5%;
    margin-left:60% ;
    background-color:   #EEF0F0;
    position: absolute;
    display: none;
  }
  .tedad{
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .carts{
  display: flex;
  margin-top: 5%;
  margin-left: 5%;
  height: 100px;
  width: 335px;
  list-style-type: none;
  border: 1px solid rgba(165, 169, 172, 10%);
  border-right: none;
  border-top: none;
  border-left: none;
  }
  .carts ul{
    list-style-type: none;
    margin-right: 5%;
  }
  .carts li{
    margin-bottom: 5%;
    
  }
  .ph{
    background-color:rgba(165, 169, 172, 5%) ;
    width: 70px;
    height: 70px;
  
  }
  .ph img{
    padding-top: 15%;
    padding-left: 22%;
  }
  #delete{
    position: absolute;
    background-color: transparent;
    margin-top: 12%;
    margin-left: 74%;
  }
  .bottom{
    margin-top: 80%;
    display: flex;
    margin-top: auto;
  }
  .bottom b{
    margin-top: 115%;
    padding-left: 20px;
    margin-bottom: 5%;
    
  }
  #pric{
    margin-left:50%;
  }
  .view{
    width: 365px;
    margin-left: 5%;
    height:60px ;
    background-color: rgba(165, 169, 172, 10%) ;
    color: #000;
    margin-bottom: 2%;
  }
  .check{
    width: 365px;
    margin-left: 5%;
    height:60px ;
  }